/* Global Reset of pages margin and padding */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 3.3rem;
  display: inline-block;
  /* position: relative; */
  left: -100px;
  bottom: 70px;
}

a {
  color: #fff;
}

.social {
  display: inline-block;
  list-style: none;
  font-size: 40px;
  position: absolute;
}

.social-icon {
  display: inline-block;
}

.contact-me {
  position: absolute;
  bottom: 190px;
  left: 200px;
}

.top-header {
  background-color: #0000ff;
  color: #fff;
  /* width: 25%; */
  /* border: 10px solid #000; */
  padding: 300px 5px;
  /* margin-bottom: 20px; */
  position: relative;
}

.mountain {
  /* position: relative; */
  /* left: 480px; */
  position: absolute;
  right: 10px;
  top: 350px;
}

.h-letter:hover {
  text-decoration: underline;
}

.top-section {
  background-color: #00b4d8;
  width: 200px;
  height: 200px;
}

.middle-section {
  background-color: #0000ff;
  width: 200px;
  height: 200px;
}

button {
  width: 250px;
  height: 75px;
  border-radius: 50px;
  color: #fff;
  font-size: bold;
  font-size: 30px;
  background-color: #00ad98;
  border: #00ad98;
}
